.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

hr {
  border: 0;
  background: #084CA5;
  height: 2px;
}

.tabLook button{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tabLook button {
  background-color: inherit;
  float:left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin:auto;
  font-size: 20px;
  width: 25%;
  font-family: Arial;
  font-weight: bold;
  color: #084CA5;
}

/* Change background color of buttons on hover */
.tabLook button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabLook button.active {
  background-color: #ccc;
}

.centerHead h2{
  text-align: center;
  color: #042755;
}

.centerHead h3, h4{
  text-align: center;
  color: #042755;
}

.centerHead h4{
  font-style: italic;
}

.problemBody {
  padding: 1px 20px 1px 20px;
  text-align: justify;
  margin: 2%;
}

.subtabLook button{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.subtabLook button {
  background-color: inherit;
  float:left;
  border: none;
  padding: 1%;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin:auto;
  font-size: 15px;
  width: 16.5%;
  font-family: Arial;
  font-weight: bold;
  color: #042755;
}

.subtabLook button:hover {
  background-color: #ddd;
}

.subtabLook button.active {
  background-color: #ccc;
}

.subProblemBody {
  //padding: 100px 20px 1px 20px;
  text-align: justify;
  margin: 1%;
}

.subCenterHead h2{
  text-align: center;
  color: #042755;
}

.subCenterHead h3, h4{
  text-align: center;
  color: #042755;
}

.subCenterHead h4{
  font-style: italic;
}

.equationStyle {
  font-size: 30px;
  text-align: center;
}

.questions {
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  padding: 2%;
  text-align: center;
  font-size: 20px;
  //font-weight: bold;
}

.questions p{
  padding: 2%;
  text-align: justify;
  font-size: 20px;
  //font-weight: bold;
  margin-left:25%;
  margin-right:25%;
}

.questions button{
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin:auto;
  font-size: 15px;
  width: 20%;
  font-family: Arial;
  font-weight: bold;
  color: #23460A;
  overflow: hidden;
}

.revealButtons button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin:auto;
  font-size: 15px;
  width: 20%;
  font-family: Arial;
  font-weight: bold;
  color: #23460A;
  overflow: hidden;
}

.revealButtons iframe {
  display: block;
  margin: auto;
}

.iframe iframe {
  display: block;
  margin: auto;
}

.centerPara {
  text-align: center;
}

.radioQs {
  background-color: #ccc;
  text-align: justify;
  font-size: inherit;
  margin-left:25%;
  margin-right:25%;
}
