/* -------------------------- Defaults -----------------------------------*/
.d3-component svg {
  background: #b95;
  max-height: 300px;
}
@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

.idyll-scroll .idyll-text-container {
  min-width: 50vw;
}
.idyll-scroll-text .idyll-step {
  min-width: 45vw;
}
.d3-component-container {
  height: 20vw;
  width: 20vw;
  margin-left: 72vw;
}
#idyll-scroll-1 {
  background: #bb9351;
}
@media only screen and (max-width: 600px) {
  .idyll-scroll .idyll-text-container {
    /*max-width: 57vw;*/
  }
  .idyll-scroll-text .idyll-step {
    /*max-width: 57vw;*/
  }
  .d3-component-container {
    height: 31vw;
    width: 31vw;
    margin-left: 65vw;
  }
}

/*--------------------- From parametric press on particle physics ------------------------------*/

.parametric-multi-button-container {
  display: flex;
  flex-direction: row;
}

.parametric-multi-button {
  background: #c5c5c5;
  color: #222;
  margin: 0;
  padding: 0.5em 1em;
}

.parametric-multi-button.selected {
  background: #539987;
}

.electric-field-interactive {
  background: #333;
  color: white;
  font-family: 'Graphik Web';
  padding: 1em;
  font-size: 14px;
  /*font-weight: bold;*/
  margin: 2em 0;
}

.electric-field-interactive-hed {
  font-size: 24px;
  font-weight: bold;
}

.electric-field-interactive-subhed {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

button.reset {
  background-color: #c5c5c5;
  color: #222;
}

.electric-field-interactive-apparatus-container>div {
  margin-top: 0 !important;
}

.electric-field-interactive-metadata {
  background: #4A4A4A;
  border-radius: 2px;
  padding: 1em;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 3em;
}

.interactive-flex-row {
  display: flex;
  flex-direction: row;
}

img {
  /* max-height: 400px; */
  max-height: 67vh;
  max-width: 100%;
  object-fit: cover;
}

@media all and (max-width: 1000px) {
  .interactive-flex-row {
    display: flex;
    flex-direction: column;
  }
  .electric-field-interactive {
    margin: 2em -1em;
  }
  .idyll-text-container img {
    margin: 0 auto;
    max-width: 100% !important;
  }
}

.comment {
  color: red;
  font-style: italic;
}