.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

hr {
  border: 0;
  background: #009999;
  height: 2px;
}

.tabLook button{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabLook button {
  background-color: inherit;
  float:left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin:auto;
  font-size: 20px;
  width: 33%;
  font-family: Arial;
  font-weight: bold;
  color: #003366;
}

.tabLook button:hover {
  background-color: #ddd;
}

.tabLook button.active {
  background-color: #ccc;
}

.centerHead h2{
  text-align: center;
  color: #009999;
}

.centerHead h3, h4{
  text-align: center;
  color: #009999;
}

.centerHead h4{
  font-style: italic;
}

.problemBody {
  padding: 1px 20px 1px 20px;
  text-align: justify;
  margin: 2%;
}

.subtabLook button{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.subtabLook button {
  background-color: inherit;
  float:left;
  border: none;
  padding: 1%;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin:auto;
  font-size: 15px;
  width: 20%;
  font-family: Arial;
  font-weight: bold;
  color: #003366;
}

.subtabLook button:hover {
  background-color: #ddd;
}

.subtabLook button.active {
  background-color: #ccc;
}

.subtabLook button:not(:last-child) {
  border-right: 2px solid #ccc;
}

.subProblemBody {
  //padding: 100px 20px 1px 20px;
  text-align: justify;
  margin: 1%;
}

.subCenterHead h2{
  text-align: center;
  color: #009999;
}

.subCenterHead h3, h4{
  text-align: center;
  color: #009999;
}

.subCenterHead h4{
  font-style: italic;
}

.questionsMore {
  text-align: center;
}

.revealButtons button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin:auto;
  font-size: 15px;
  width: 20%;
  font-family: Arial;
  font-weight: bold;
  color: #009999;
  overflow: hidden;
}

.revealButtons iframe {
  display: block;
  margin: auto;
}

.equations {
  text-align: center;
}

.iframe iframe {
  display: block;
  margin: auto;
}

.questions {
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  padding: 2%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.centerPara {
  text-align: center;
}

.equationStyle {
  font-size: 20px;
  text-align: center;
}
